::-webkit-scrollbar {
	width: 5PX;
	height: 1PX;
}
::-webkit-scrollbar-thumb {
	border-radius: 8PX;
	background-color: rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
}
/* ::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.3);
} */
::-webkit-scrollbar-track{
	border-radius: 5PX;
	background-color: rgba(0, 0, 0, 0.1);
}

.hideDiv{
	display: none;
}
.visiHideDiv{
	visibility: hidden;
}
.ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.borbott:not(:last-child){
	border-bottom: 1px solid #f1f1f1;
}
.colorDan{
	color: #969696;
}
.flex-center{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.disable{
	pointer-events: none; /*阻止用户的点击动作产生任何效果*/
	opacity: 0.6;
}